.action-menu {
  color: #666;
  font-size: 14px;
}

.action-menu--button {
  background-color: white;
  color: #111;
}

.action-menu--button-restricted {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  opacity: 0.55;
  cursor: pointer;
}

.action-menu--button-restricted:hover {
  opacity: 0.75;
}

.action-menu--lock-icon {
  font-size: 14px;
}

.action-menu--list {
  background-color: var(--main-gray-3);
  z-index: 13;
  min-width: var(--radix-dropdown-menu-trigger-width);
  max-height: 70vh;
  overflow-y: auto;
}

.action-menu--list--action:first-child {
  border-top: 1px solid var(--main-gray-2);
}

.action-menu--list--action {
  box-sizing: border-box;
  min-height: 48px;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 16px;
  border-left: 1px solid var(--main-gray-2);
  border-bottom: 1px solid var(--main-gray-2);
  border-right: 1px solid var(--main-gray-2);
  cursor: pointer;
}

.action-menu--list--action:hover,
.action-menu--list--action[data-highlighted] {
  color: #111;
  background-color: #ddd;
  outline: none;
}
